<%= turbo_stream_from comment %>

<%= turbo_frame_tag comment do %>
  <div class="d-flex justify-content-between pt-2">
    <div>
      <%= image_tag comment.user.gravatar_url, class: 'gravatar mb-2 me-2' %>
      <%= comment.user.pseudonym || comment.user.email %>
      ·
      <small class="text-muted"><%= time_ago_in_words(comment.created_at) %> ago</small>
    </div>
    <div class="d-flex">
      <%= link_to 'Edit', edit_comment_path(comment), class: 'me-2' %>
      <%= button_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Do you really want to delete this comment?' } %>
    </div>
  </div>

  <%= comment.body %>
<% end %>
