<div class='card mb-3 shadow'>
  <div class='row'>
    <div class='col-3'>
      <div class='row'>
        <div class='col-6'>
          <span class='pt-1 text-center text-nowrap'>
            <h1><%= event.start_date.day %></h1>
            <p class='mb-1'><%= event.start_date.strftime('%B') %></p>
          </span>
        </div>
        <div class='col-6 d-flex align-items-center'>
          <span class='text-nowrap'>
            <h2><%= event.start_date.strftime('%H:%M') %></h2>
          </span>
        </div>
      </div>

    </div>

    <% if event.user %>
      <div class='col-9'>
        <div class='card-body'>
          <div class='card-title'>
            <h5><%= link_to event.description, event_path(event) %></h5>
            <p class='mb-0'><%= link_to event.user.fullname, user_path(event.user), class: 'link-secondary' %></p>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
