<%= turbo_frame_tag dom_id(new_event) do %>
  <div class="container text-light">
    <%= form_with model: new_event, data: { controller: 'forms--toggle forms--reset', form_type: 'modal' } do |form| %>
      <% if new_event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(new_event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
            <% new_event.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group row mb-3">
        <%= form.label t('event.name'), class: 'col-2 col-form-label' %>
        <div class="col-10">
          <%= form.text_field :title,
            class: 'form-control',
            data:  { 'forms--reset-target': 'resetable' }
          %>
        </div>
      </div>

      <div class="form-group row mb-3">
        <%= form.label t('event.date'), class: 'col-2 col-form-label' %>
        <div class="col-10">
          <%= form.text_field :start_date,
            class: 'form-control',
            data:  {
              behavior: 'flatpickr',
              'forms--reset-target': 'resetable',
              'events--form-target': 'dateField'
            },
            value: new_event.flatpickr_dates_format
          %>
        </div>
      </div>

      <div class="form-group row mb-3">
        <%= form.label t('event.calendar'), class: 'col-2 col-form-label' %>
        <div class="col-10">
          <%= form.collection_select :calendar_id,
            calendars,
            :id,
            :name,
            { include_blank: true },
            class: 'form-select',
            data:  { 'forms--reset-target': 'resetable' }
          %>
        </div>
      </div>

      <div class="form-group row mb-3">
        <%= form.label t('event.location'), class: 'col-2 col-form-label' %>
        <div class="col-10">
          <%= form.text_field :location,
            class: 'form-control',
            data:  { 'forms--reset-target': 'resetable' }
          %>
        </div>
      </div>

      <div>
        <div class="form-check form-switch">
          <%= form.label t('event.related_to_organization'), class: 'col-form-label' %>
          <%= form.check_box :is_related_to_an_organization,
            name: '',
            class: 'form-check-input',
            data: {
              'action': 'click->forms--toggle#toggle',
              'forms--toggle-div-id': 'organization_id',
              'forms--toggle-field-name': 'event[organization_id]',
              'forms--reset-target': 'resetable'
            }
          %>
        </div>
        <div class="form-group row mb-3" style="display:none" data-events--form-target="usersDiv" data-forms--toggle-target="div" data-forms--toggle-id="organization_id">
          <%= form.label t('event.organization') , class: 'col-2 col-form-label' %>
          <div class="col-10">
            <%= form.collection_select :organization_id,
              organizations,
              :id,
              :name,
              { include_blank: true },
              class: 'form-select',
              data:  {
                'forms--reset-target': 'resetable',
                'forms--toggle-target': 'field',
                'forms--toggle-field-name': 'event[organization_id]'
              } %>
          </div>
        </div>
      </div>

      <div>
        <div class="form-check form-switch">
          <%= form.label t('event.send_invitations'), class: 'col-form-label' %>
          <%= form.check_box :send_invitations,
            name: '',
            class: 'form-check-input',
            data: {
              action: 'click->forms--toggle#toggle',
              'forms--reset-target': 'resetable',
              'forms--toggle-div-id': 'attendees_id',
              'forms--toggle-field-name': 'event[attendee_ids][]'
            }
          %>
        </div>
        <div class="form-group row mb-3" style="display:none" data-events--form-target="invitationsDiv" data-forms--toggle-target="div" data-forms--toggle-id="attendees_id">
          <%= form.label t('event.attendees'), class: 'col-2 col-form-label' %>
          <div class="col-10">
            <%= form.collection_check_boxes :attendee_ids, attendees, :id, :pseudonym, {include_hidden: false}, data:  { 'forms--reset-target': 'resetable', 'forms--toggle-target': 'field', 'forms--toggle-field-name': 'event[attendee_ids][]' } do |user_check_box| %>
              <li class="list-unstyled form-check">
                <%= user_check_box.check_box class: 'form-check-input' %>
                <%= user_check_box.label class: 'form-check-label' %>
              </li>
            <% end %>
          </div>
        </div>


      <div class="form-group row mb-3">
        <%= form.label t('event.description'), class: 'mb-3' %>
        <%= form.rich_text_area :description,
          class: 'form-control customized_min_height',
          data:  { 'forms--reset-target': 'resetable' }
        %>
      </div>

      <%= form.hidden_field :team_id, value: current_team.id %>

      <div class="actions modal-footer">
        <%= form.submit class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
<% end %>
