<div class="row">
  <div class="col-md-2">
    <% if @event.attendees.any? %>
      <div><%= t('user.attendees') %></div>
      <%# TODO: a partial to render the list of attendee %>
    <% end %>
  </div>

  <div class="col px-5">
    <div class="d-flex justify-content-between">
      <h2><%= @event.title %></h2>
      <div>
        <span>
          <%= image_tag 'clock.svg', size: '15x15', class: 'me-1' %>
          <%= @event.start_date %>
          <br>
          <%= @event.end_date %>
        </span>
        <% if @event.location.present? %>
          <span>
            <%= image_tag 'location.svg', size: '15x15', class: 'me-1' %>
            <%= @event.location %>
          </span>
        <% end %>
      </div>
    </div>

    <% if @event.description.present? %>
      <div class="my-5">
        <h5><%= t('event.description') %></h5>
        <%= @event.description %>
      </div>

      <hr class="my-5">
    <% end %>

    <h5><%= t('event.comments') %></h5>
    <%= turbo_stream_from @event, :comments %>

    <%= render partial: 'comments/form', locals: { commentable: @event, comment: Comment.new } %>

    <%= tag.div id: "#{dom_id(@event)}_comments", class: 'mb-5' do %>
      <%= render partial: 'comments/comment_with_replies', collection: @event.comments.where(parent_id: nil), as: :comment %>
    <% end %>
  </div>
</div>
