<div class="fields">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div class="fields">
  <%= form.label :description %>
  <%= form.text_field :description %>
</div>

<div class="fields">
  <%= form.label :file %>
  <%= form.file_field :file %>
</div>
