<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @document.description %>
</p>

<p>
  <strong>File:</strong>
  <%= link_to @document.file.filename, @document.file if @document.file.attached? %>
</p>

<p>
  <strong>Documentable:</strong>
  <%= @document.documentable_id %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
