<div class='row' data-controller="calendars--visibility">
  <div class='col-2' data-controller='popover'>
      <%= turbo_frame_tag 'calendar-sidebar' do %>
        <%= render partial: 'calendars/calendar_sidebar',
                   collection: calendars,
                   as:         :calendar %>
      <% end %>

        <hr>

        <%= render partial: 'calendars/form_sm',
                   locals: { calendar:     new_calendar,
                             current_team: current_team } %>
      </div>


      <div class='col-10'>
        <div data-controller="events--form events--show">
          <%= render partial: 'calendars/calendar' %>

          <%= render partial: 'events/add_event_modal',
                     locals: { new_event:     new_event,
                               current_team:  current_team,
                               calendars:     calendars,
                               organizations: organizations,
                               attendees:     attendees } %>

          <div id='show-event-modal'></div>
        </div>
      </div>
    </div>
  </div>
</div>
