<div class='d-flex align-items-center' id='calendars-sidebar'>
  <div class='d-flex me-1'>
    <span class='calendar-color-circle' style='background-color: <%= calendar.background_color %>;'></span>
  </div>

  <div class='mr-auto flex-grow-1'>
    <div class='text-white'>
      <%= calendar.name %>
    </div>
  </div>

  <div class='ms-auto'>
    <%= link_to '#' do %>
      <%= image_tag 'eye.svg', size: '15x15', data: { 'calendar-state': 'displayed', 'calendar-name': calendar.name }, class: 'eye-icon' %>
    <% end %>
  </div>

  <div>
    <%= link_to '#' do %>
      <%= image_tag 'share.svg', size: '15x15' %>
    <% end %>
  </div>
</div>
