<%= form_with(model: [current_team, new_calendar], id: dom_id(new_calendar)) do |form| %>
  <% if new_calendar.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% new_calendar.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='d-flex align-items-center'>
    <div class="pe-1 d-block">
      <%= form.label t('calendar.name_label'), class: 'form-label' %>
      <%= form.text_field :name, placeholder: t('calendar.name_placeholder'), class: 'form-control' %>
    </div>

    <div class="ms-auto px-0 align-self-end">
      <%= form.color_field :background_color, class: 'form-control-color p-0' %>
    </div>
  </div>

  <%= form.hidden_field :team_id, value: current_team.id %>

  <div class="actions mt-1 d-grid">
    <%= form.submit class: 'btn btn-outline-primary btn-sm' %>
  </div>
<% end %>
