<%= form_with(model: [current_team, calendar], id: 'calendar-form') do |form| %>
  <% if calendar.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% calendar.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='d-flex align-items-center'>
    <div class="pe-1">
      <%= form.text_field :name, placeholder: 'Calendar name...', class: 'form-control form-control-sm' %>
    </div>

    <div class="ms-auto px-0">
      <%= form.color_field :background_color, class: 'form-control-color p-0 form-control-sm' %>
    </div>
  </div>

  <%= form.hidden_field :team_id, value: current_team.id %>

  <div class="actions mt-1 d-grid">
    <%= form.submit class: 'btn btn-outline-primary btn-sm' %>
  </div>
<% end %>
