<div class='row'>
  <div class='col-2'>
    <%= turbo_frame_tag 'calendar-sidebar' do %>
      <%= render partial: 'calendar_sidebar', collection: @calendars, as: :calendar %>
    <% end %>

    <hr class='text-white'>

    <%= render partial: 'form', locals: { calendar: @calendar} %>
  </div>

  <div class='col-10'>
    <%= render partial: 'calendars/calendar' %>
  </div>

  <div id='add-event-modal-placeholder'>
    <%= render partial: 'events/add_event_modal',
      locals: {
        event:     @event,
        calendars: @calendars,
        users:     @users
      }
    %>
  </div>
</div>
