<nav class='navbar navbar-expand-lg navbar-dark bg-dark mb-5 shadow'>
  <div class='container-fluid'>
    <%= active_link_to 'Caisse de Solidarité', root_path, class: 'navbar-brand me-5', endpoint: ['', '/', '/#', '/calendars'] %>

    <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbar-links' aria-controls='navbar-links' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbar-links'>
      <ul class='navbar-nav'>
        <% if user_signed_in? && !@teams.blank? %>
          <li class='nav-item dropdown'>
            <%= active_link_to @current_team.name, '#', class: 'nav-link dropdown-toggle', id: 'navbarDropdown', role: 'button', data: { bs_toggle: 'dropdown' }, aria: { expanded: false },  endpoint: ['', '/', '/#', '/teams/'] %>
            <ul class='dropdown-menu dropdown-menu-dark' aria-labelledby='navbarDropdown'>
              <% @teams.each do |team| %>
                <li><%= link_to team.name, team_path(team), class: 'dropdown-item' %></li>
              <% end %>
              <li><hr class='dropdown-divider'></li>
              <li><%= link_to t('calendar.create'), new_team_path, class: 'dropdown-item' %></li>
            </ul>
          </li>
        <% elsif user_signed_in? %>
          <%= active_link_to t('team.create'), new_team_path, class: 'nav-link' %>
        <% end %>
      </ul>

      <div class='navbar-nav ms-auto'>
        <% if current_user&.admin? %>
          <%= active_link_to t('administration.administration'), root_path, class: 'nav-link me-2', endpoint: '/admin' %>
        <% end %>

        <% if user_signed_in? %>
          <div data-controller="layout--visibility" data-action="click@window->layout--visibility#hideIfOutsideClick">
            <%= form_with url: '/search', method: :post, class: 'me-2', data: { controller: 'forms--submission', 'forms--submission-target': 'form' } do |form| %>
              <%= form.text_field :query, class: 'form-control', placeholder: t('search.placeholder'), data: { action: 'input->forms--submission#submit' } %>
            <% end %>

            <div id="global-search-results" data-layout--visibility-target="hideable"></div>
          </div>
        <% end %>

        <%= login_or_disconnect_link class: 'nav-link mx-2', data: { turbo: false } %>
      </div>
    </div>
  </div>
</nav>
