<!DOCTYPE html>
<html>
  <head>
    <title>CaisseSo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <div class='container'>
      <%= yield %>
    </div>

    <%# javascript_pack_tag mooved to this section in order to bypass a Bootstrap issue %>
    <%# See: https://github.com/twbs/bootstrap/issues/33840 %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
